/*
 * main.scss - all of the styles for the website
 *
 * This uses SASS, a CSS preprocessor, to specify styles for the HTML elements we use.
 * These generally have a clear mapping with React views, i.e. a view has an associated
 * CSS class name with corresponding styles.
 */

body {
    background: #fefefe;
}

.video-summary {
    width: 300px;
    float: left;
    margin: 10px;

    > div {
        position: relative;
    }

    > img {
        cursor: pointer;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 30px);
        z-index: 2;
    }

    video {
        width: 100%;
        position: relative;
        z-index: 1;
    }
}

.gender-0, .gender-U {
    border-color: #23b722;
}

.gender-M {
    border-color: #00c7ff;
}

.gender-F {
    border-color: #ff0084;
}

.bounding-boxes {
    position: relative;

    .bounding-box {
        position: absolute;
        border-width: 2px;
        border-style: solid;
        cursor: pointer;
        color: white;
        font-size: 12px;

        &:active {
            cursor: none;
        }

        &:hover {
            border-width: 3px;
        }
    }
}

.video {
    .right-col {
        overflow-y: scroll;
    }

    .video-meta {
        h2 {
            margin: 0 0 10px 0;
        }
    }

    .video-faces {
        max-height: 700px;
        overflow-y: scroll;

        .frame {
            float: left;
            border: 2px solid black;
            margin-right: 2px;
            margin-bottom: 2px;
            padding: 2px;
        }

        .cluster {
            border: 2px solid black;
            margin-bottom: 10px;
            padding: 5px;
            overflow: auto;

            h3 {
                margin: 0;
            }

            img {
                height: 40px;
                box-sizing: border-box;
                border-width: 2px;
                border-style: solid;
            }
        }
    }

    .video-labeler {
        .bounding-boxes {
            float: left;

            &.selected img {
                border: 4px solid purple;
            }
        }

        img {
            height: 100px;
            user-select: none;
        }
    }
}