body {
    background: #fefefe;
}

.video-summary {
    width: 300px;
    float: left;
    margin: 10px;

    > div {
        position: relative;
    }

    > img {
        cursor: pointer;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 30px);
        z-index: 2;
    }

    video {
        width: 100%;
        position: relative;
        z-index: 1;
    }
}

.video {
    h2 {
        margin: 0 0 10px 0;
    }

    .frame {
        float: left;
        border: 2px solid red;
        margin-right: 2px;
        margin-bottom: 2px;
    }

    .cluster {
        border: 2px solid black;
        margin-bottom: 10px;
        padding: 5px;
        overflow: auto;

        h3 {
            margin: 0;
        }

        img {
            height: 40px;
        }
    }
}