[submodule "app/deps/vgrid"]
	path = app/deps/vgrid
	url = https://github.com/scanner-research/vgrid
[submodule "app/deps/vgrid_jupyter"]
	path = app/deps/vgrid_jupyter
	url = https://github.com/scanner-research/vgrid_jupyter
[submodule "app/deps/caption-index"]
	path = app/deps/caption-index
	url = https://github.com/scanner-research/caption-index.git
[submodule "app/deps/rekall"]
	path = app/deps/rekall
	url = https://github.com/scanner-research/rekall.git
[submodule "app/deps/rs-embed"]
	path = app/deps/rs-embed
	url = https://github.com/scanner-research/rs-embed.git
[submodule "app/deps/esper-model-server"]
	path = app/deps/esper-model-server
	url = https://github.com/scanner-research/esper-model-server.git
