# Data/build/debug directories
scanner_db
node_modules
deps
nets
.cache
spark-data
pg
subs
tmp
assets/bundles
assets/thumbnails
assets/audio
.ipynb_checkpoints
rust-scripts/target
rust-scripts/build
# Specific files
service-key.json
npm-debug.log
supervisord.conf

# File kinds
db.bk.*
yapf*.py
*.sql
*.bin
*.mkv
*.mp4
**/*.pkl