# Data/build/debug directories
scanner_db
node_modules
deps
nets
.cache
spark-data
pg
subs
subs2
tmp
assets/bundles
assets/thumbnails
assets/audio
.ipynb_checkpoints

# Specific files
service-key.json
npm-debug.log

# File kinds
db.bk.*
yapf*.py
*.sql
*.bin
*.mkv
*.mp4
**/*.pkl