<!DOCTYPE html>
<html>
  <head>
    <title>Esper</title>
    <script>
     var CSRF_TOKEN = "{{ csrf_token }}";
     var GLOBALS = {{ globals|safe }};
    </script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="/static/bundles/styles.css" rel="stylesheet" />
    <link id="dynamic-favicon" rel="shortcut icon" type="image/png" href="/static/favicon.ico" />
  </head>
  <body class="esper">
    <div class="container" id="app">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
