@import '~react-select2-wrapper/css/select2.css';

body.esper {
    background: #fefefe;
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

.esper {
    @import 'search-input';
    @import 'search-result';

    .login-error {
        text-align: center;
        font-size: 24px;
        margin-top: 30px;
    }

    .spinner {
        content: url('/static/images/spinner.gif');
    }

    .clearfix {
        clear: both;
    }
}
