.page-buttons {
    margin-top: 10px;

    .page-count {
        position: relative;
        left: 12px;
        top: 7px;
    }
}

.search-results {
    position: relative;

    .sidebar {
        $width: 150px;
        width: $width;
        position: absolute;
        top: 0;
        height: 100%;

        $sidebar-margin: -($width+20px);

        &.left {
            left: $sidebar-margin;
        }

        &.right {
            right: $sidebar-margin;
        }

        > div {
            position: sticky;
            top: 20px;
            left: 0;
        }

        .metadata {
            .meta-block {
                margin-bottom: 10px;
            }

            .meta-key {
                font-weight: bold;
            }

            .colors {
                .meta-val > div {
                    display: inline-block;
                    margin-right: 20px;

                    > div {
                        display: inline-block;
                    }
                }
            }
        }
    }

    .group {
        &.flat {
            float: left;

            .group-label { display: none; }
        }

        &.contiguous {
            float: left;
            padding: 5px;
            margin: 5px;
            border: 2px solid #ccc;
        }
    }

    .search-result {
        $img-height: 100px;

        float: left;
        position: relative;
        margin: 5px;
        padding: 5px;

        video, img {
            user-select: none;
        }

        video {
            position: absolute;
            height: $img-height;
            z-index: 0;

            /* Always show the control panel on search result tiny videos. */
            &::-webkit-media-controls-panel {
                display: flex !important;
                opacity: 1 !important;
            }
        }

        .frame {
            position: relative;
            z-index: 1;

            img {
                height: 100px;
            }

            .pose {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            .bounding-box {
                position: absolute;
                border-width: 2px;
                border-style: solid;
                cursor: pointer;
                color: white;
                font-size: 12px;

                &:active {
                    cursor: none;
                }

                &:hover {
                    border-width: 3px;
                }

                &.gender-M {
                    border-color: #50c9f8;
                }

                &.gender-F {
                    border-color: #ff6d86;
                }

                &.gender-U {
                    border-color: #c0ff00;
                }
            }
        }

        .media-container {
            position: relative;
        }

        .loading-video {
            position: absolute;
            bottom: 5px;
            left: 3px;
            z-index: 2;

            img { height: 25px; }
        }

        .search-result-meta {
            font-size: 9px;
            table-layout: fixed;
            word-wrap: break-word;

            td {
                vertical-align: top;
            }
        }

        &.expanded {
            .search-result-meta {
                font-size: 14px;

                td {
                    padding: 5px;
                }
            }

            video {
                height: auto;
                width: 780px;
            }
        }

        &.selected {
            background-color: #FFDEAD;
        }

        &.positive {
            background-color: #90EE90;
        }

        &.negative {
            background-color: #FFB6C1;
        }
    }
}
