.page-buttons {
    margin-top: 10px;

    .page-count {
        position: relative;
        left: 12px;
    }

    input {
        display: inline-block;
        width: 40px;
        margin-left: 13px;
    }
}

.search-results {
    position: relative;

    .sidebar {
        $width: 150px;
        width: $width;
        position: absolute;
        top: 0;
        height: 100%;

        $sidebar-margin: -($width+20px);

        &.left {
            left: $sidebar-margin;
        }

        &.right {
            right: $sidebar-margin;
        }

        > div {
            position: sticky;
            top: 20px;
            left: 0;
        }

        .options {
            input[type=range] {
                display: inline-block;
                width: 40%;
                margin-right: 10px;
                vertical-align: middle;
            }

            input[type=number] {
                display: inline-block;
                padding: 2px 6px;
                width: 40%;
            }
        }

        .metadata {
            .meta-block {
                margin-bottom: 10px;
            }

            .meta-key {
                font-weight: bold;
            }

            .colors {
                .meta-val > div {
                    display: inline-block;
                    margin-right: 20px;

                    > div {
                        display: inline-block;
                    }
                }
            }
        }

        .help-section {
            margin-top: 10px;
        }

        .btn {
            font-size: 14px;
            padding: 4px 6px;
        }
    }

    .selected {
        background-color: #FFDEAD;
    }

    .positive {
        background-color: #90EE90;
    }

    .ignored {
        background-color: #FFB6C1;
    }

    .group {
        padding: 5px;
        float: left;
        position: relative;

        .select-overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
            opacity: 0.5;
        }

        .grouped {
            .element {
                float: left;
                padding: 5px;
            }
        }

        .contiguous {
            margin: 5px;
            border: 2px solid #ccc;
        }
    }

    .timeline {
        display: flex;

        .time-container {
            position: relative;
            border: 1px solid black;
            background: white;
        }

        .time-marker {
            position: absolute;
        }
    }

    .clip {
        position: relative;
        z-index: 5;

        video, img {
            user-select: none;
        }

        video {
            position: absolute;
            z-index: 0;

            /* Always show the control panel on search result tiny videos. */
            &::-webkit-media-controls-panel {
                display: flex !important;
                opacity: 1 !important;
            }
        }

        .frame {
            position: relative;
            z-index: 1;

            img {
                height: 100px;
            }

            .pose {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            .bbox-label {
                position: absolute;
            }

            .bounding-box {
                position: absolute;
                border-width: 2px;
                border-style: solid;
                cursor: pointer;
                color: white;
                font-size: 12px;

                &:active {
                    cursor: none;
                }

                &:hover {
                    border-width: 3px;
                }
            }
        }

        .video-row {
            > div { float: left; }

            .media-container {
                position: relative;
            }

            .sub-container {
                height: 100%;
                border: 1px solid black;
                padding: 5px;
                user-select: none;
                position: relative;

                .sub-scroll {
                    height: 100%;
                }

                .sub-autoscroll {
                    position: absolute;
                    opacity: 0.2;
                    right: 5px;
                    top: 5px;

                    &:hover {
                        opacity: 1;
                    }
                }

                .subtitle {
                    margin-bottom: 5px;
                }
            }
        }

        .loading-video {
            position: absolute;
            bottom: 5px;
            left: 3px;
            z-index: 2;

            img { height: 25px; }
        }

        .search-result-meta {
            font-size: 9px;
            table-layout: fixed;
            word-wrap: break-word;

            td {
                vertical-align: top;
            }
        }

        &.expanded {
            .search-result-meta {
                font-size: 14px;

                td {
                    padding: 5px;
                }
            }
        }
    }
}
